<!-- 
<app-post></app-post> -->
<div>
    <h2 class="text-center">Routing and Navigation</h2>
</div>
<nav>
    <a routerLink="/departments" routerLinkActive="active" >Department</a>
    <a routerLink="/employees" routerLinkActive="active">Employees</a>
    <a routerLink="/form" routerLinkActive="active">Form</a>
    <a routerLink="/sidebar" routerLinkActive="active">Sidebar</a>
    <a routerLink="/sidebar2" routerLinkActive="active">Sidebar2</a>
    <a routerLink="/sidebar3" routerLinkActive="active">Sidebar3</a>
    <a routerLink="/sidebar4" class="badge1" data-badge="27"  routerLinkActive="active">
        Test
    </a>

</nav>
<p>{{title}}</p>

<!-- <a routerLink="/sidebar3" class="notification" routerLinkActive="active">
    Sidebar3
    <app-badge class="badge" [alertCount]=2></app-badge>
</a> -->
<!-- http://jsfiddle.net/PWwQM/1/ -->
<!-- https://stackoverflow.com/questions/41394009/how-to-make-a-div-overlap-other -->
<!-- https://stackoverflow.com/questions/10089514/how-to-make-a-div-overlap-other-divs -->
<!-- https://stackoverflow.com/questions/9381043/making-inner-divs-overlap-another-outer-div -->
<!-- https://stackblitz.com/angular/gjvmbkbbdgbo?file=src%2Fapp%2Fapp.component.ts -->
<!-- https://stackoverflow.com/questions/44000162/how-to-change-title-of-a-page-using-angularangular-2-or-4-route -->

<app-one></app-one>
<app-two></app-two>
<app-todo-list></app-todo-list>
<router-outlet></router-outlet>